h1 {
  width: 100;

  text-align: center;
}

#nav {
  display: flex;
  flex-direction: column;
  text-align: center;
}
a {
  margin-top: 20px;
  font-size: 20px;
}
#main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#main img {
  width: 300px;
  margin: 5px;
}
#main h2 {
  text-align: center;
}
footer {
  background-color: grey;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  #main img {
    width: 350px;
    margin: 5px;
  }
}
@media only screen and (max-width: 500px) {
  #main img {
    width: 450px;
    margin-left: 25px;
  }
}
